*{
    font-family: 'Lucida Console';
}
a{
    color:unset;
    text-decoration: none;
}
body {
    background-color: white;
}

.menu{
    background-color: white;  
    padding-top: 15px;
    padding-bottom: 30px;  
}
.column {
    float: left;
    width: 33.33%;
    text-align: center;
  }
#column1{  
    visibility: hidden;   
}
#column2{   
}
#column3{  
}
.menu:after {
    content: "";
    display: table;
    clear: both;
}


.content{
    display: flex;
    justify-content: center;
}
.footer{
    padding-bottom: auto;
}

div.images{
    padding: 15px;
    float: left;
    width: 300px;
    
}
div.images img{
        width: 100%;
        height: auto;
}